<ion-header class=" login-header auth header">
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="SignIn()">
    <ion-item>
      <ion-input type="username" placeholder="UserName" formControlName="username"></ion-input>
    </ion-item>
    <!--<show-hide-container>-->
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" ></ion-input>
      </ion-item>
    <!--</show-hide-container>-->
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Log in</button>
  </form>
  <p>OR</p>
   <button ion-button block (click)="SignUpPage()">Sign Up</button>
</ion-content>