page-user-chat {

	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-mini-content
	{
		background-color: color($colors, background, base);

		.list-mini
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					.content-row
					{
						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&.one-line
						{
					//		@include align-items(center);

							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}
