<ion-header>
  <ion-navbar>
    <ion-title>Other Available Taxis
    </ion-title>
    <button ion-button  (click)="LogOut()" style="position:absolute; right: 0; top: 0; margin: 0;">LogOut</button>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-searchbar (ionInput)="getItems($event)">
  </ion-searchbar>
  <div class="list-mini">
  <ion-list>
    <div  *ngFor="let user of users">
      <button class="list-item" ion-item (click)="doChat(taxi)">
        <ion-row no-padding class="content-row one-line">
          <ion-col no-padding width-18 class="item-avatar">
             <preload-image class="avatar-image" ratio="{w:1, h:1}" [src]=""></preload-image>
          </ion-col>
          <ion-col no-padding width-72 class="item-content">
            <h2 class="item-title" item-left> Anonymous user {{i}}</h2>
            <!--<h3 item-left> Driver's City : {{taxi.city}}</h3>
            <p class="item-description" item-left>Distance : {{taxi.distance}} m</p>-->
          </ion-col>
          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </button>
    </div>
  </ion-list>
  </div>

</ion-content>