
<ion-header>

  <ion-navbar>
    <button ion-button (click)="Settings()">Settings</button>
    <ion-title>CityList</ion-title>
    <button ion-button  (click)="Logout()" > LogOut</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <div *ngFor="let city of data">
    <ion-card>
      <ion-row>
        <ion-checkbox [(ngModel)]="checkBox[city.city]"></ion-checkbox>
      <ion-label margin-left="30px">
      <h2>{{city.city}}</h2>
      </ion-label>
      </ion-row>
    <div *ngFor="let user of city.users">
      <div *ngIf="user != pass[0].name">
      <ion-item no-lines margin-left="50px">
        <h4 tappable (click)=doChat(user)>{{user}}</h4>
     </ion-item>
      </div>
      </div>
      </ion-card>
      
  </div>
  <button ion-button block (click)="Submit()">See Taxis in above cities</button>
  <button ion-button block (click)="Chats()" >See Your Chats</button>
  </ion-list>
</ion-content>
