
<ion-header>

  <ion-navbar>
    <ion-title>{{data[0].name}}
    </ion-title>
     
  </ion-navbar>
  </ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <h2> Your City: </h2><p> {{data[0].city}}</p>
  </ion-item>
  
  <ion-item>
    <h2> Your Country: </h2> <p> {{data[0].country}} </p>
</ion-item>

  <ion-item>
    <h2> UserName : </h2> <p> {{data[0].username}}</p>
</ion-item>

</ion-list>

</ion-content>
