<ion-header>
  <ion-navbar>
    <ion-title>
      Authentication for Drivers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
      <ion-list>
        <form [formGroup]= "DriverDetails">
        <ion-item>
          <ion-label floating>Driver Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Driver's UserName</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Driver's City</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Driver's Country</ion-label>
          <ion-input type="text" formControlName="country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Driver's Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" formControlName="Confirm"></ion-input>
        </ion-item>

        <!--<ion-item>-->
          <button ion-button block *ngIf="Confirm === password && Confirm != ' '" (click)="SignUp()">SignUp</button>
        <!--</ion-item>-->
        </form>
      </ion-list>
    
</ion-content>