<ion-header>
  <ion-navbar color="whatsapp" class="messages-page-navbar">
    <ion-buttons>
      <img class="chat-picture" [src]="">
    </ion-buttons>

    <ion-title class="chat-title">Anonymous Chats</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="messages-page-content">
  <ion-scroll scrollY="true" class="messages">
    <div *ngFor="let message of AllMessages" class="message-wrapper">
      <div *ngIf="message.from ==  otherData.name">
        <div class="message message-mine">
          <div class="message-content">{{message.message}}</div>
        </div>
      </div>
      <div *ngIf="message.from !=  otherData.name">
        <div class="message message-other">
          <div class="message-content">{{message.message}}</div>
        </div>
      </div>
    </div>
  </ion-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar color="" class="messages-page-footer" position="bottom">
     
    <ion-input placeholder="Enter message" [(ngModel)]="message" class="message-editor"></ion-input>
     <button ion-button  icon-only color="whatsapp" class="message-editor-button" (click)="submit()" style="position:absolute; right: 0; top: 0; margin: 0;">
      <ion-icon name="send"></ion-icon>
      </button>
    
  </ion-toolbar>
</ion-footer>