
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <div *ngFor="let city of data">
    <ion-item>
      <ion-checkbox [(ngModel)]="checkBox[city]"></ion-checkbox>
      <ion-label>
      <h2>{{city}}</h2>
      </ion-label>
    </ion-item>
  </div>
  <button ion-button block (click)="Submit()">Submit</button>
  </ion-list>
</ion-content>

